<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="~/css/styles.css">
        <script src="~/js/script.js"></script>
        <title>Portfolio</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">Welcome</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li class="active"><a href="home">Home</a></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div style="display:inline-block;margin-right:100px;padding:50px;vertical-align: top;">   
            <h1>Erick Ruiz</h1>
            <img class="materialboxed" height="300px" width="300px" src="~/media/me.jpg">
        </div>      
        <div style="display:inline-block;padding:50px;width:500px;">
            <h1>About me</h1>
            <p>After taking my first progamming course (c++) during my senior year of High School, not having any programming experience before, I was amazed and intrigued on how fun programming can be. After completing the course, there was no doubt in my mind that coding was something that I wanted to do for the rest of my life so thats when I decided to pursue a career as a developer.</p>
            <p>Having just graduated with a C.S. degree and finishing up an intensive coding bootcamp, I believe I have the knowledge and skills to join a team of developers to build functional yet beautiful, user friendly web applications!</p>
            <p>I'm a true minimalist who believes less is more.</p>
        </div>   
    </body>
</html>