@{
    ViewData["Title"] = "Home Page";
}
<div id="container">
    <h1 style="text-align:center;margin-bottom:40px;">Here are some awesome quotes!</h1>
    <div id="quotesContainer">
        @foreach(var quote in ViewBag.Quotes){
            <div class="quote">
                <h3>"@quote["quote"]"</h3>
                <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-@quote["name"] at @quote["created_at"].ToString("h:mm tt MMMM dd, yyyy")</h4>
            </div>
        } 
    </div>    
</div>