@{
    ViewData["Title"] = "Home Page";
}
<div id="container">
    <form id="movieForm">
        <h1>Movie Lookup: </h1>
        <label for="movie">Search for a movie:</label>
        <input type="text" name="movie" id="movie">
    </form>
    <div id="movies">
        <table class="table" id="movieTable">
            
        </table>
    </div>
</div>