<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="script.js"></script>
        <title>Time and Date</title>
    </head>
    <body>
        <div style="margin:auto;width:970px;padding:50px" id="wrapper">
            <h1 style="text-align:center">The current time and date:</h1>
            <div style="position: relative;margin: 0 auto;width:50%;border:1px solid black;padding:20px;">
                @{
                    DateTime CurrentTime = DateTime.Now;
                    string monthDayYear = "MMM d yyyy";
                    string time = "t";
                    <h1 style="text-align:center">@CurrentTime.ToString(monthDayYear)</h1>
                    <h1 style="text-align:center">@CurrentTime.ToString(time)</h1>
                }
            </div>
        </div>
    </body>
</html>