@{
    ViewData["Title"] = "Home Page";
}
@{
    <div id="pokeContainer">
        <h1>Enter a pokemons ID in the url to see their info!</h1>
        @{
            if(ViewBag.Pokemon == null){
                <h1></h1>
            }else{
                <h1>Name: @ViewBag.Pokemon["name"]</h1>
                <h1>Primary Type: @ViewBag.Pokemon["types"][0]["type"]["name"]</h1>
                <h1>Height: @ViewBag.Pokemon["height"]</h1>
                <h1>Weight: @ViewBag.Pokemon["weight"]</h1>
            }
        }
    </div>
}
